@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Barlow+Condensed:wght@500;600;700&family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Barlow', sans-serif;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .font-head { font-family: 'Barlow Condensed', sans-serif; }
  .font-mono { font-family: 'Space Mono', monospace; }
}
